a{
    text-decoration: none;
}
hr {
    border: 2px solid #1A81BB;
    width: 5%;
    margin: auto;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

footer {
    background-image: url(../img/bgFooter.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: -25vw;
}

.imgFooter {
    margin-top: 55%;
    padding-top: 50%;
}

.contentFooter {
    margin-top: 40%;
    text-align: left;
    margin-bottom: 25%;
    color: #fff;
}

.enderecoFooter {
    margin-top: 5%;
    text-align: left;
}

footer p {
    font-size: max(9px, 0.8vw);
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    width: 80%;
}

.tFooter {
    color: #fff;
    background: #0b306865;
    width: fit-content;
    padding: 0.4vw 2.5vw;
    border-radius: 1vw;
    font-size: max(12px, 1vw);
    margin-top: -2vw;
}

footer ul li {
    list-style: none;
}

.footer img {
    margin-top: -2vw;
}

footer h6 {
    color: #fff;
    padding: 0.4vw 2vw;
    width: fit-content;
    margin-top: 1vw;
    background: #0c704f;
    border-radius: 2vw;
    font-size: max(10px, 1vw);
}

.copy {
    background-color: #00203D;
    color: #fff;
    width: 100%;
    height: auto;
    opacity: 0.7;
    margin-top: -25vw;
    padding: 2vw;
}